.content{
    padding: 1em 6%;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
.card{
    color: white;
    padding: 1em;
    background: black;
    display: block;
    margin: 5px;
}