.pages{
    display: block;
    /* position: absolute; */
}
.content{
    padding: 75vh 6% 1em;

}

.grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.image{
    width: 100%;
    /* border-radius:100%; */
    filter: blur(0px) grayscale(0);
}

.image:hover{
    /* filter: blur(3px) grayscale(1);  */
}

.right{
    float: right;
}

.card{
    
    position: relative;
    text-align: center;
    color: white;
    padding: 5px;
}


.card > .title{
    position: absolute;
    top: 8px;
    left: 8px;
    padding: .9em 1em 1em;
    color: rgba(16,45,57, 0.8);
    font-size: .8em;
    font-weight: bold;
}

.card > .btn{
    /* display: none; */
    background:rgba(16,45,57, 0.5);
    font-size: .8em;
    text-align: end;
    padding: .9em 1em 1em;
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    cursor: pointer;
    
}

.card > .btn:hover{
    /* display: none; */
    background:rgba(16,45,57, 0.9);
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 10px 15%;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    color: #000000;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content .packages{
    color: white;
    text-align: center;
    background: rgb(27, 85, 110);
    /* padding: .5em; */
    margin: 5px;
    margin-top:10px;
    border-radius: 5px;
}

.packages > .title{
    font-weight: bold;
    font-size: .8em;
    padding: 1.5em;
}

.packages > .price{
    font-weight: 100;
    font-size: 1em;
    padding: .5em;
    margin: .5em 0 1.5em;
    
    
    /* border-radius: 100%; */
}

.packages > .session{
    font-weight: bold;
    font-size: 1em;
    padding: .5em;
    margin: .5em 0m;
    
    
    /* border-radius: 100%; */
}

.packages > .session::after{
    content: " Session(s)";
    font-weight: 300;
}

.packages > .discount{
    font-weight: bold;
    font-size: 1em;
    padding: .5em;
    margin: .5em 0m;
    
    
    /* border-radius: 100%; */
}

.packages > .discount::before{
    content: "Discount ";
    font-weight: 300;
}

.packages.promo{
    background: rgb(58, 156, 91) !important;
    color: white !important;
    border-style: solid;
    border-color: rgb(29, 109, 55) !important;
}

.packages.promo > .btn{
    padding: .5em 1em;
    background: rgb(21, 77, 39) !important;
    color: white;
    margin: 1.5em 0;
    border: none;
}
.packages > .special{
    padding: .5em;
    background: rgb(29, 109, 55) !important;
    color: white;
    margin-bottom: 2em;
}

.packages > .btn{
    padding: .5em 1em;
    background: rgb(17, 63, 83) !important;
    color: white;
    margin: 1.5em 0;
    border: none;
}

.packages:hover{
    transform: scale(2px)
}

