<div class="pages">
  <div class="content grid" *ngIf="products.length">
    <div class="card" *ngFor="let product of products">
      <img [src]="imgUrl + product.avatar" class="image right">
      <div class="title" (data-desc)="product.description">
          {{ product.name }}
      </div>
      <div class="btn" (click)="showDetail(product)">
        Learn More...
      </div>
      <!-- <p class="description" [innerHTML]="product.description"></p> -->
    </div>
  </div>
</div>

<div class="modal" *ngIf="selProduct.packages.data.length">
  <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
    <h3>{{ selProduct.name }}</h3>
    <div class="desc" [innerHTML]="selProduct.description">
      
    </div>
    <div class="grid">
      <div class="packages" *ngFor="let pack of selProduct.packages.data | orderBy: 'session'" [ngClass]="{'promo': pack.is_promo == 'Y'}">
        <div class="title">
          {{ pack.name }}
        </div>
        <div class="price">
          {{ pack.price | currency:'IDR'}}
        </div>
        <div class="session">
          {{ pack.session }}
        </div>
        <div class="discount" *ngIf="pack.discount!=0.00">
          {{ pack.discount | currency:'IDR'}}
        </div>
        <button class="btn">
          Get now!
        </button>
        <div class="special" *ngIf="pack.is_promo == 'Y'">
          Special Offer!
        </div>
        
      </div>
    </div>
  </div>
</div>
